@font-face {
  font-family: "BC Sans normal";
  font-style: normal;
  src: url("../fonts/BCSans-Regular.woff2") format("woff2"),
    /* Optimized for very modern browsers */ url("../fonts/BCSans-Regular.woff")
      format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "BC Sans italic";
  font-style: italic;
  /* Optimized for very modern browsers */
  src: url("../fonts/BCSans-Italic.woff2") format("woff2"),
    url("../fonts/BCSans-Italic.woff") /* Modern Browsers */ format("woff");
}
@font-face {
  font-family: "BC Sans bold";
  font-weight: 700;
  src: url("../fonts/BCSans-Bold.woff2") format("woff2"),
    /* Optimized for very modern browsers */ url("../fonts/BCSans-Bold.woff")
      format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "BC Sans bold italic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/BCSans-BoldItalic.woff2") format("woff2"),
    /* Optimized for very modern browsers */
      url("../fonts/BCSans-BoldItalic.woff") format("woff"); /* Modern Browsers */
}
